In [1]:
import sys
sys.path.append("/u/dssc/zenocosini/helm_suite/MCQA_Benchmark")
from metrics.utils import *
from metrics.query import DataFrameQuery
from common.tensor_storage import TensorStorage
from common.metadata_db import MetadataDB
from common.utils import *

#from sklearn.feature_selection import mutual_info_regression MISSIN?
from dadapy.data import Data

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.manifold import MDS
from sklearn.decomposition import KernelPCA
from sklearn.metrics import pairwise_distances
from transformers import AutoModelForCausalLM, AutoTokenizer, LlamaForCausalLM, LlamaTokenizer
from IPython.display import display
from matplotlib.colors import Normalize
from matplotlib.cm import ScalarMappable

from pathlib import Path
import pickle
from collections import Counter

:

## Functions

In [ ]:
def set_dataframes(db) -> pd.DataFrame:
    """
    Aggregate in a dataframe the hidden states of all instances
    ----------
    hidden_states: pd.DataFrame(num_instances, num_layers, model_dim)
    """
    df = pd.read_sql("SELECT * FROM metadata", db.conn)
    df["train_instances"] = df["train_instances"].astype(str)
    df.drop(columns=["id"],inplace = True)
    #import pdb; pdb.set_trace()
    df.drop_duplicates(subset = ["id_instance"],inplace = True, ignore_index = True) # why there are duplicates???
    return df

In [ ]:
def tensor_retrieve(dict_query):
    query = DataFrameQuery(dict_query)
    hidden_states,logits, hidden_states_df= hidden_states_collapse(metadata_df,tensor_storage,query)
    return hidden_states,logits,hidden_states_df

In [ ]:
tsm =  TensorStorageManager()

NameError: name 'TensorStorageManager' is not defined

In [ ]:
_PATH = Path("/orfeo/scratch/dssc/zenocosini/mmlu_result/")
result_path = Path(_PATH,"diego")
result_path.mkdir(exist_ok=True,parents=True)
metadata_db = MetadataDB(_PATH / "metadata.db")
metadata_df = set_dataframes(metadata_db)
tensor_storage = TensorStorage(Path(_PATH, "tensor_files"))

# Label distribution

In [9]:
metadata_df["dataset"] = metadata_df["dataset"].apply(lambda x: x.split(":")[1])

In [59]:
rows = []
for dataset in metadata_df["dataset"].unique():
    letter_distribution = metadata_df.query(f"dataset == '{dataset}'")["letter_gold"].value_counts()
    rows.append([dataset,letter_distribution.var(), letter_distribution])
letter_var = pd.DataFrame(rows, columns=["dataset","variance", "letter_distribution"])

In [62]:
letter_var.query("dataset == 'professional_medicine'")["letter_distribution"].values[0]

letter_gold
D    1464
B     660
A     600
C     540
Name: count, dtype: int64

In [61]:
letter_var

,dataset,variance,letter_distribution
0,abstract_algebra,2976.0,letter_gold C 372 B 312 A 264 D 25...
1,anatomy,10116.0,letter_gold C 540 B 408 D 372 A 30...
2,astronomy,21792.0,letter_gold D 612 C 552 B 336 A 32...
3,business_ethics,2208.0,letter_gold A 360 B 312 C 276 D 25...
4,clinical_knowledge,16260.0,letter_gold D 948 B 852 C 696 A 68...
5,college_biology,1056.0,letter_gold D 456 C 444 A 444 B 38...
6,college_chemistry,16608.0,letter_gold D 492 B 252 A 240 C 21...
7,college_computer_science,7968.0,letter_gold D 396 A 312 C 312 B 18...
8,college_mathematics,2688.0,letter_gold D 372 C 300 B 276 A 25...
9,college_medicine,15492.0,letter_gold D 696 C 516 B 432 A 43...
10,college_physics,11460.0,letter_gold D 432 A 240 C 216 B 20...
11,computer_security,4032.0,letter_gold C 360 A 336 B 288 D 21...
12,conceptual_physics,24900.0,letter_gold B 912 A 744 D 588 C 57...
13,econometrics,816.0,letter_gold B 384 C 336 A 324 D 32...
14,electrical_engineering,3204.0,letter_gold C 516 D 420 A 420 B 38...
15,elementary_mathematics,17412.0,letter_gold C 1212 D 1212 B 1164 A ...
16,formal_logic,20592.0,letter_gold D 552 A 432 B 300 C 22...
17,global_facts,9504.0,letter_gold C 396 B 372 A 216 D 21...
18,high_school_biology,44592.0,letter_gold D 1176 B 948 C 936 A ...
19,high_school_chemistry,25572.0,letter_gold C 720 D 684 B 660 A 37...
20,high_school_computer_science,4992.0,letter_gold C 396 A 300 B 276 D 22...
21,high_school_european_history,3012.0,letter_gold C 564 D 504 B 480 A 43...
22,high_school_geography,32304.0,letter_gold D 840 C 600 B 516 A 42...
23,high_school_government_and_politics,34020.0,letter_gold D 852 C 528 B 480 A 45...
24,high_school_macroeconomics,127920.0,letter_gold D 1704 B 1032 C 996 A ...
25,high_school_mathematics,7056.0,letter_gold D 852 C 852 B 852 A 68...
26,high_school_microeconomics,36144.0,letter_gold D 996 B 660 C 600 A 60...
27,high_school_physics,13476.0,letter_gold D 600 C 492 A 360 B 36...
28,high_school_psychology,192240.0,letter_gold D 2244 B 1488 C 1416 A ...
29,high_school_statistics,152160.0,letter_gold D 1224 C 552 B 420 A ...
30,high_school_us_history,672.0,letter_gold C 636 D 624 A 612 B 57...
31,high_school_world_history,8196.0,letter_gold A 768 C 756 B 744 D 57...
32,human_aging,101988.0,letter_gold B 1008 A 840 C 540 D ...
33,human_sexuality,1668.0,letter_gold D 444 A 408 B 360 C 36...
34,international_law,18948.0,letter_gold C 540 B 360 A 348 D 20...
35,jurisprudence,2208.0,letter_gold B 384 A 336 C 300 D 27...
36,logical_fallacies,4740.0,letter_gold C 588 B 480 D 456 A 43...
37,machine_learning,7968.0,letter_gold A 420 B 384 C 324 D 21...
38,management,12900.0,letter_gold D 468 B 312 C 240 A 21...
39,marketing,12048.0,letter_gold A 816 B 720 C 720 D 55...
40,medical_genetics,2496.0,letter_gold A 360 B 312 D 288 C 24...
41,miscellaneous,119652.0,letter_gold B 2700 C 2544 A 2232 D ...
42,moral_disputes,17712.0,letter_gold C 1212 A 1032 B 1020 D ...
43,moral_scenarios,27780.0,letter_gold D 2928 C 2652 B 2604 A ...
44,nutrition,13488.0,letter_gold D 1080 C 924 B 840 A ...
45,philosophy,32772.0,letter_gold C 1116 B 1020 D 900 A ...
46,prehistory,19488.0,letter_gold C 1140 B 1032 D 876 A ...
47,professional_accounting,2832.0,letter_gold C 912 B 864 D 816 A 79...
48,professional_law,66192.0,letter_gold C 4980 A 4524 D 4500 B ...
49,professional_medicine,189024.0,letter_gold D 1464 B 660 A 600 C ...
50,professional_psychology,31908.0,letter_gold C 2028 B 1872 A 1836 D ...
51,public_relations,6432.0,letter_gold B 444 A 288 D 288 C 27...
52,security_studies,94020.0,letter_gold D 1176 C 708 A 552 B ...
53,sociology,996.0,letter_gold D 648 C 600 A 588 B 57...
54,us_foreign_policy,1188.0,letter_gold A 336 D 300 C 300 B 25...
55,virology,14832.0,letter_gold B 636 A 564 C 408 D 38...
56,world_religions,19716.0,letter_gold A 660 C 600 B 432 D 36...